---
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
---

<PageLayout>
  <TopLayout>
    <div class="relative w-full overflow-hidden" style="padding-top: 56.25%;">
      <iframe
        src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&bgcolor=%23ffffff&showPrint=0&showCalendars=0&title=Rainbow%20Sangha%20Calendar&src=YWRtaW5AcmFpbmJvd3NhbmdoYS5vcmc&color=%23039BE5"
        style="border-width:0"
        width="800"
        height="600"
        class="absolute top-0 left-0 w-full h-full"></iframe>
      <iframe
        src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&bgcolor=%23ffffff&src=YWRtaW5AcmFpbmJvd3NhbmdoYS5vcmc&color=%23039BE5"
        style="border-width:0"
        width="400"
        height="300"></iframe>
    </div>
  </TopLayout>
</PageLayout>
