---
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
---

<PageLayout>
  <TopLayout>
    <div class="animate">
      <h1 class="text-lg md:text-xl lg:text-2xl font-semibold opacity-75 mb-2">
        Thank you!
      </h1>
      <p class="text-sm">
        Your message has been sent. We will get back to you shortly.
      </p>
    </div>
  </TopLayout>
</PageLayout>
