---
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
---

<PageLayout title="Submission success">
  <TopLayout>
    <div class="animate">
      <h1 class="text-lg md:text-xl lg:text-2xl font-semibold opacity-75 mb-2">
        Thank you for your submission!
      </h1>
      <p class="text-sm">
        Your resource has been submitted for review. If you provided an email,
        you will be notified once it has been approved or rejected.
      </p>
    </div>
  </TopLayout>
</PageLayout>
